<!DOCTYPE html>
<html lang="en">
<head>
 
</head>
<body class="container">

<header>
  
</header>

<main>
    <h4>Detalles de usuario:</h4>
    <hr/>
     <ul>
        <li><b>Id:</b> <%= users.id %></li>
        <li><b>Nombre:</b> <%= users.firstName %></li>
        <li><b>Apellido:</b> <%= users.lastName %></li>
        <li><b>email:</b> <%= users.email %></li>
        <li><b>Creado:</b> <%= users.createdAt %></li>
        <li><b>Modificado:</b> <%= users.updatedAt %></li>
     </ul>
     <a href="/api/v1/Users" class="btn btn-info">Volver</a>

       
    
</main>

<footer>
    <%- include('partials/pie') %>
 
</footer>

</body>
</html>