<!DOCTYPE html>
<html lang="en">
<head>
 
</head>
<body class="container">

<header>
    <%- include('partials/headerL') %>
    <hr/>
</header>

<main>
    <h4>Modificar los siguientes Campos:</h4>
    <hr/>
     <h5>Usuario: <%= datos.username %></h5>
    <form action="/users/modificando?_method=PUT" method="POST">
        <div class="form-group"><br>
           <ul>
           <% error.forEach(function(err) { %>
                   <li style="color:#F00;"><%= err %></li>
           <% }); %>
           </ul>
           <input type="hidden" name="_method" value="PUT">
           <input type="hidden" name="_token" value="{{ csrf_token() }}">

           <input type="text" name="id" value="<%= datos.id %>" hidden>
            <input type="text" name="username" value="<%= datos.username %>" placeholder="Nombre Usuario" hidden>
            <input type="text" name="firstName" value="<%= datos.firstName %>" placeholder="Nombre" >Nombre<br><br>
            <input type="text" name="lastName" value="<%= datos.lastName %>" placeholder="Apellido" >Apellido<br><br>
            <input type="password" name="password" value="<%= datos.password %>" placeholder="Password" hidden>
            <input type="email" name="email" value="<%= datos.email %>" placeholder="Email" >Email<br><br>
            <button type="submit" name="button"class="btn btn-primary">Modificar Usuario</button>&nbsp;

            <a href="/Users" name="button"class="btn" style="color:#A00;">Cancelar</a>
             
       
        </div>
       
       </form>
       
  
    
</main>

<footer>
    <%- include('partials/pie') %>
 
</footer>

</body>
</html>