<!DOCTYPE html>
<html lang="en">
<head>
 
</head>
<body class="container">
    
   
<header>
  
</header>

<main>
    <h4>Llenar los siguientes Campos:</h4>
    <hr/>
    <form action="/auth/register" method="post">
        <div class="form-group"><br>
           <ul>
           <% error.forEach(function(err) { %>
                   <li style="color:#F00;"><%= err %></li>
           <% }); %>
           </ul>
           <input type="text" name="username" value="<%= datos.username %>" placeholder="Nombre de Usuario" readonly onfocus="this.removeAttribute('readonly');"  >*<br><br>
            <input type="text" name="firstName" value="<%= datos.firstName %>" placeholder="Nombre" >*<br><br>
            <input type="text" name="lastName" value="<%= datos.lastName %>" placeholder="Apellido" >*<br><br>
            <input type="password" name="password" value="" placeholder="Password" >*<br><br>
            <input type="email" name="email" value="<%= datos.email %>" placeholder="Email" ><br><br>
            <button type="submit" name="button" class="btn btn-primary">Registrarme</button>&nbsp;
            <a href="/" name="button" style="color:#A00;">Cancelar</a>
             
       
        </div>
       
       </form>
       
  
    
</main>

<footer>
    <%- include('partials/pie') %>
 
</footer>

</body>
</html>